body{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.navbar a:hover{
    background-color:lightcyan;   
    padding: 10px; 
}

.navbar a{
    color:cadetblue;
}

.navbar{
    position: relative;
    background-color: transparent;
    display:flex;
    justify-content: center;
    justify-content: space-around;

}

main{
    text-align: center;
}

p{
    font-size: 40px;
    color: cadetblue;
    font-weight: 600;
}