body{
    background-color: whitesmoke;
    font-family: ysabeau office, serif;
    
}

.navbar a:hover{
    background-color:lightcyan;   
    padding: 10px; 
}

.navbar a{
    color:cadetblue;
}

.navbar{
    position: relative;
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 3rem;

}
.wrapper-index{
    width: 100%;
}

.indeximg{
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0;
    top: 0;
}

.welcome{
    position: relative;
    text-align: center;
    display: block;
    font-size: 1rem;
    color: cadetblue;
    margin: 0;
}

.column{
    float: left;
}

.left{
    width: 70%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.opening{
    border-style: groove;
    font-size:20px;
    font-weight: bold;
    
}
