body{
    background-color: whitesmoke;
    font-family: ysabeau office, serif;
    
}

.navbar a:hover{
    background-color:lightcyan;   
    padding: 10px; 
}

.navbar a{
    color:cadetblue;
}

.navbar{
    position: relative;
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 3rem;

}
.wrapper-index{
    width: 100%;
}

.indeximg{
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0;
    top: 0;
}

.welcome{
    position: relative;
    text-align: center;
    display: block;
    font-size: 1rem;
    color: cadetblue;
    margin: 0;
}

.column{
    float: left;
}

.left{
    width: 70%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.opening{
    border-style: groove;
    padding: 0px 20px;
    
    font-size:20px;
    font-weight: bold;  
}

.starterimg, .sandimg, .burgerimg, .dessertimg, .coffeeimg, .kidsimg{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}


table, td{
    border:black;
   text-align: left;
   margin-left: 20%;
   margin-right: auto;
   width: 70%;
}



ul{
    list-style-type: none;
}

.aboutimg{
    width: 100%;
    position: relative;
    margin: 0;
    top: 10px;
}

.contactimg{
    width: 100%;
    position: relative;
    margin: 0;
    top: 20px;
}


